*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  
  /* The font I chose for the title is basic as I didn't want it to be too hard for my intended audience to read. Nothing too cursive or fancy, but not too
  plain/boring. I like the boldness of this font as I do think it matches the warm vibe the game is evoking through the choice of colours */

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#fffd9b;
  text-align:center;
  padding:40px;

  /* I decided to go for a bright yellowish warm colour palette to support my puzzle drag game. I did this because the images I had chosen have a very happy vibe
  to them as Charlie is glowing in the sun. I wanted to further express that warmth happiness into the chosen colours of the site.  */
}

h1{
  margin-bottom:30px;
  color:#ffc477;
  font-size: 45px;
}

.game-container{
  display:flex;
  justify-content:center;
  align-items:flex-start;
  gap:40px;
}

#board{
  width:400px;
  height:400px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(2,1fr);
  border:5px solid #ffc477;
  background:#ffffff;
  flex-shrink:0;
}

.slot{
  border:2px dashed #ffc477;
}

#tray{
  width:240px;
  height:400px;
  border:5px solid #ffc477;
  background:white;
  position:relative;
}

#piece-layer{
  position:fixed;
  inset:0;
  pointer-events:none;
}

.piece{
  position:absolute;
  width:200px;
  height:200px;
  cursor:grab;
  pointer-events:auto;
  background-repeat:no-repeat;
  user-select:none;
  border-radius:4px;
  box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.piece.dragging{
  cursor:grabbing;
  z-index:1000;
}

#complete-screen{
  position:fixed;
  inset:0;
  background:rgb(255, 255, 255);
  display:none;
  justify-content:center;
  align-items:center;
}

.card{
  background:white;
  padding:40px;
  border-radius:20px;
}